html {

    scroll-behavior: smooth;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    background-color: DodgerBlue;
    justify-content: center;
    /* position: fixed; */
}

.flex-container > div {
    background-color: dodgerblue;
    /* width: 100px; */
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

a {
    background-color: dodgerblue;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}
  
a:hover {
    background-color: red;
    color: rgb(59, 201, 201);
}
  
a:active {
    background-color: dodgerblue;
}
  
a:visited {
    background-color: dodgerblue;
}

#skills {

    height: 100vh;
    background-color: hotpink;
}

#interests {

    height: 100vh;
    background-color: indigo;
}