html {

    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.flex-container {

    display: flex;
    flex-flow: row wrap;
    background-color: darkblue;
    justify-content: center;
    top: 0;
    height: 13vh;
    width: 100%;
    /* position: fixed; */
}

.flex-container > div {

    background-color: darkblue;
    /* width: 100px; */
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.btn {

    height: 100%;
}

.tile {

    background-color: blueviolet;
}

a {
    /* background-color: darkblue; */
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}
  
a:hover {
    /* background-color: red; */
    /* color: rgb(59, 201, 201); */
    color: rgb(198, 235, 235);
}
  
a:active {
    /* background-color: darkblue; */
}
  
a:visited {
    /* background-color: darkblue; */
}

#skills-container {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#skill-tiles {

    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 80vw;
}

.tile:hover {

    transform: scale(1.01);
    /* filter: brightness(1.05); */
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
}

#interests-container {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#cf-container {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#cf-stats {

    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cf-attribute {

    font-size: 2.5rem;
    /* color: darkblue; */
}

#heading {

    font-size: 2.8rem;
    color: darkblue;
    text-align: left;
    width: 90%;
    border-bottom: 5px solid darkblue;
}

.tile {

    height: 40vh;
    width: 22vw;
    border-radius: 20px;
}

.tile > img {

    border-radius: 20px;
    height: 100%;
    width: 100%;
}

#skills {

    height: 100vh;
    background-color: rgb(198, 235, 235);
}

#interests {

    height: 100vh;
    background-color: rgb(198, 235, 235);
}

#cf {

    height: 100vh;
    background-color: rgb(198, 235, 235);
}

.content {

    font-size: 1.4rem;
    /* height: 100%; */
    width: 80%;
    color: darkblue;
    text-align: center;
}

.name-of-stat {

    color: darkblue;
}

#interests-container > .content {

    height: 40vh;
}

#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: darkblue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#backToTop:hover {
    /* background-color: #555; */
    opacity: 0.69;
}